1.We can add comments in code to provide explanations or make notes. Comments are ignored by the Python interpreter and are not executed as part of the program. There are two ways to write comments in Python: i. Single-line comments. ii. Multi-line comments.

In [3]:
# This is a single-line comment
print("Hello, World!")

Hello, World!

In [31]:
"""
This is a multi-line comment.
"""
x = 10
y = 20
sum = x + y
print(sum)

30

2. Variables are used to store data values.a variable is a named location in memory that holds a value. Examples are given below:-

In [7]:
x = 5                  # Assigns the value 5 to the variable x
y = "Pwskills"         # Assigns the string "Pwskills" to the variable y

In [10]:
##Variable declaration:
x = 10
y = "Hello, World!"
print(x)
print(y)

10
Hello, World!

3. int(), float(), str(), bool(): These are built-in functions that can be used to convert values to integer, float, string, and boolean data types, respectively. For example:

In [19]:
str_num = "10"
int_num = int(str_num)   # Converts to integer
print(int_num)

10

In [20]:
str_float = "3.14"
float_num = float(str_float)  # Converts to float
print(float_num)

3.14

In [21]:
num = 3.14
str_num = str(num)

In [23]:
print(str_num)

3.14

4. To write and execute a Python script from the command line,we can follow these steps:
i. Open a text editor and create a new file.
ii. Write your Python code in the text editor
iii.Save the file and exit the text editor.
iv. Open a command prompt or terminal window.
v. Navigate to the directory where the Python script is saved. we can use the 'cd' command to change directories.
vi. Once we are in the correct directory, we can execute the Python script using the python command followed by the name of the script file
For example:- python script.py
vii. Press Enter, and the Python script will be executed.

5. To obtain the sub-list [2, 3] from the given list my_list = [1, 2, 3, 4, 5]:-

In [2]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

6.A complex number is a number that comprises a real part and an imaginary part. It is represented in the form a + bi, where a is the real part, b is the imaginary part, and i is the imaginary unit.

Examples:-

In [4]:
A1 = 3 + 2j
A2 = 1 - 4j
A3 = -2j
A4 = 4.5 + 0j

In [5]:
print(A1)

(3+2j)

In [6]:
print(A2)

(1-4j)

In [7]:
print(A3)

(-0-2j)

In [8]:
print(A4)

(4.5+0j)

7. Variable declaration Example:-

In [9]:
age = 25

In [10]:
print (age)

25

After this declaration and assignment, we can use the variable age throughout the program to refer to the value 25.

8. When we declare a variable named price and assign the value 9.99 to it, the variable price belongs to the data type called "float" in Python.

In [11]:
price=9.99

In [12]:
type(price)

float

In [13]:
print(price)

9.99

9. To create a variable named name and assign full name to it as a string, we can use the following code:

In [19]:
Name =" your full name"

In [20]:
type(Name)

str

In [21]:
print(Name)

 your full name

In [22]:
Name= "veena Kumari"

In [23]:
print(Name)

veena Kumari

10. To extract the substring "World" from the given string "Hello, World!", we can use string slicing in Python. Here's an example:

In [24]:
s = "Hello, World!"
substring = s[7:12]
print(substring)

World

11. To create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [27]:
is_student = True

In [28]:
is_student = False

In [30]:
## Example:-
name = input("Enter a name")
if name.lower() == "ram":
    print("Ram is a student.")
else:
    print("The person is not Ram or is not a student.")

Enter a name Ram

Ram is a student.